body { 
    text-align: center;
    }

header {
    border: 2px solid #00aaff;
    background-color: #66eeff;
    margin: 20px 50px;
    }
    
header li {
    display: inline;
    padding: 5px;
    margin: 5px;
    }

header a {
    text-decoration: none;
    }

header a:hover {
    text-decoration: underline;
}

.datetime {
     text-align: right;
}

.datetime span {
    display: inline;
    margin: 10px;
    padding: 5px;
    border: 1px solid #000000;
}

div.img {
    display: inline;
    }
    
div.img>img {
    padding: 10px;
    margin: 10px 3px;
    border: 2px solid #0088dd;
    width: 384px;
    height: 288px;
    }
div.response {
    text-align: left;
    }

form, form>fieldset {
    text-align: left;
    display: inline;
    margin: 20px 50px;
    }

input.number {
    display: block;
    width: 100px;
    }
