<!DOCTYPE html>
<html lang="es_ES">
  <head>
    {% block head %}
      <title>{% block title %}{{ title|e }}{% endblock %}</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="main.css">
    {% endblock head %}
  </head>
  <body>
    {% block body %}
      <header>
        {% block header %}
          <h1>Logotype</h1>
          <h2>Title</h2>
        {% endblock %}
      </header>
      <nav>
        {% block nav %}
          <ul>
            <li><a href="/">Главная страница</a></li>
          </ul>
        {% endblock %}
      </nav>
      <main>
        {% block main %}
          <section><article>Section</article></section>
        {% endblock %}
      </main>
      <footer>{% block footer %}Footer{% endblock %}</footer>
    {% endblock body %}
  </body>
</html>

