{% extends "base.jinja" %}
{% block title %}DjangoSite{% endblock %}
{% block heads %}
  <h1>DjangoSite</h1>
  <h5>Шаблон сайта, созданного при помощи языка программирования Python и веб-фреймворка Django</h5>
{% endblock heads %}
{% block main %}
  <p class="text">Какой-то текст</p>
{% endblock main %}
